### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup                      HOMEWORK COPY GEORGE MCGUIRE
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
Class_df = school_data_complete.groupby(["school_name"]).sum()
Class_df = Class_df.reset_index()
Class_df["school_name"].count()
# answer is 15

15

In [4]:
# Calculate the total number of students
number_of_students = school_data_complete["student_name"].count()
number_of_students
# answer is 39170

39170

In [5]:
# Calculate the total budget
Budget_list = school_data_complete["budget"].drop_duplicates()
total_budget = Budget_list.sum()
total_budget

24649428

In [6]:
# Calculate the average math score 
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average reading score
reading_score = school_data_complete["reading_score"].mean()
reading_score

81.87784018381414

In [8]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
passing_rate_average = (average_math_score + reading_score)/2
passing_rate_average

80.43160582078121

In [9]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = school_data_complete["math_score"]>70
passed_math = (passing_math_score.value_counts()/number_of_students)*100
passed_math

True     72.392137
False    27.607863
Name: math_score, dtype: float64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [37]:
school_student_col = school_data_complete.groupby(["school_name", "type"]).count()["Student ID"]

per_school_budget = school_data_complete.groupby(["school_name", "type"]).mean()["budget"]

per_school_capita = per_school_budget / school_student_col

avg_math_score = school_data_complete.groupby(["school_name", "type"]).mean()["math_score"]

#avg_reading_score = 

# filter raw dataset to only contain passing records
passing_math_df = school_data_complete[school_data_complete["math_score"] > 70]
#passing_reading_df = 

per_school_passing_math = passing_math_df.groupby(["school_name", "type"]).mean()["math_score"]
#per_school_passing_reading =


overall_passing = (per_school_passing_math + per_school_passing_reading)/2

school_name            type
Bailey High School     District    84.965174
Cabrera High School    Charter     84.686298
Figueroa High School   District    84.813298
Ford High School       District    84.716269
Griffin High School    Charter     84.984814
Hernandez High School  District    85.399867
Holden High School     Charter     85.351421
Huang High School      District    84.772063
Johnson High School    District    85.251645
Pena High School       Charter     85.187075
Rodriguez High School  District    84.854020
Shelton High School    Charter     84.960202
Thomas High School     Charter     84.989153
Wilson High School     Charter     84.703757
Wright High School     Charter     85.258462
Name: math_score, dtype: float64

In [34]:
per_school_summary = pd.DataFrame({
    "Total Students": school_student_col,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": avg_math_score,
#    "Average Reading Score":,
#    "% Passing Math":,
#    "% Passing Reading":,
#    "Overall Passing Rate":,
})

per_school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score
school_name,type,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895
Figueroa High School,District,2949,1884411.0,639.0,76.711767
Ford High School,District,2739,1763916.0,644.0,77.102592
Griffin High School,Charter,1468,917500.0,625.0,83.351499
Hernandez High School,District,4635,3022020.0,652.0,77.289752
Holden High School,Charter,427,248087.0,581.0,83.803279
Huang High School,District,2917,1910635.0,655.0,76.629414
Johnson High School,District,4761,3094650.0,650.0,77.072464
Pena High School,Charter,962,585858.0,609.0,83.839917
Rodriguez High School,District,3999,2547363.0,637.0,76.842711
Shelton High School,Charter,1761,1056600.0,600.0,83.359455
Thomas High School,Charter,1635,1043130.0,638.0,83.418349
Wilson High School,Charter,2283,1319574.0,578.0,83.274201
Wright High School,Charter,1800,1049400.0,583.0,83.682222

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [38]:
per_school_summary.sort_values(["Overall Passing Rate"], ascending=False)
per_school_summary.head(5)

KeyError: 'Overall Passing Rate'

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
19584,19584,Tammie Fox,F,11th,Bailey High School,82,92,7,District,4976,3124928
21193,21193,Jennifer Murray,F,9th,Bailey High School,88,89,7,District,4976,3124928
21192,21192,Lisa Pineda,F,9th,Bailey High School,86,67,7,District,4976,3124928
21191,21191,Cameron Miller,M,11th,Bailey High School,70,75,7,District,4976,3124928
21190,21190,Thomas Rasmussen,M,12th,Bailey High School,77,82,7,District,4976,3124928

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [15]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.