### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup    --------  PERSONAL WORK COPY GEORGE MCGUIRE  -------
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [7]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# Create a high level snapshot (in table form) of the district's key metrics, including:
Class_df = school_data_complete.groupby(["school_name"]).sum()
Class_df = Class_df.reset_index()
Class_df["school_name"].count()
# answer is 15

15

In [9]:
# Calculate the total number of students
number_of_students = school_data_complete["student_name"].count()
number_of_students
# answer is 39170

39170

In [10]:
# Calculate the total budget
Budget_list = school_data_complete["budget"].drop_duplicates()
total_budget = Budget_list.sum()
total_budget

24649428

In [11]:
# Calculate the average math score 
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [12]:
# Calculate the average reading score
reading_score = school_data_complete["reading_score"].mean()
reading_score

81.87784018381414

In [13]:
# Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
passing_rate_average = (average_math_score + reading_score)/2
passing_rate_average

80.43160582078121

In [14]:
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = school_data_complete["math_score"]>70
passed_math = (passing_math_score.value_counts()/number_of_students)*100
passed_math

True     72.392137
False    27.607863
Name: math_score, dtype: float64

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [19]:
school_student_col = school_data_complete.groupby(["school_name", "type"]).count()["Student ID"]

per_school_budget = school_data_complete.groupby(["school_name", "type"]).mean()["budget"]

per_school_capita = per_school_budget / school_student_col

avg_math_score = school_data_complete.groupby(["school_name", "type"]).mean()["math_score"]

per_school_passing_math = passing_math_df.groupby(["school_name", "type"]).mean()["math_score"]

#avg_reading_score = 
avg_reading_score = school_data_complete.groupby(["school_name", "type"]).mean()["reading_score"]

# filter raw dataset to only contain passing records
passing_math_df = school_data_complete[school_data_complete["math_score"] > 70]
#passing_reading_df = 

#per_school_passing_reading =
per_school_passing_reading = passing_math_df.groupby(["school_name", "type"]).mean()["reading_score"]


overall_passing = (per_school_passing_math + per_school_passing_reading)/2

overall_passing

school_name            type
Bailey High School     District    82.962687
Cabrera High School    Charter     84.314603
Figueroa High School   District    82.980851
Ford High School       District    82.821766
Griffin High School    Charter     84.388003
Hernandez High School  District    83.113296
Holden High School     Charter     84.608527
Huang High School      District    82.947482
Johnson High School    District    83.036349
Pena High School       Charter     84.645125
Rodriguez High School  District    82.705699
Shelton High School    Charter     84.286797
Thomas High School     Charter     84.442712
Wilson High School     Charter     84.375723
Wright High School     Charter     84.581846
dtype: float64

In [28]:
per_school_summary = pd.DataFrame({
    "Total Students": school_student_col,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": avg_math_score,
    "Average Reading Score": avg_reading_score,
    "Per school passing math": per_school_passing_math,
    "Per school passing reading": per_school_passing_reading,
    "Overall Passing": overall_passing
})
#    "Average Reading Score":,
avg_reading_score

#    "% Passing Math":,
per_school_passing_math
    
#    "% Passing Reading":,
per_school_passing_reading
    
#    "Overall Passing Rate":,
overall_passing

per_school_summary.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Per school passing math,Per school passing reading,Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,84.965174,80.960199,82.962687
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,84.686298,83.942909,84.314603
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,84.813298,81.148404,82.980851
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,84.716269,80.927263,82.821766
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,84.984814,83.791192,84.388003
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,85.399867,80.826724,83.113296

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [31]:
top_performing_schools = per_school_summary.sort_values(["Overall Passing"], ascending=False)
top_performing_schools.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Per school passing math,Per school passing reading,Overall Passing
school_name,type,,,,,,,,
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,85.187075,84.103175,84.645125
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,85.351421,83.865633,84.608527
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,85.258462,83.905231,84.581846
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,84.989153,83.896271,84.442712
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,84.984814,83.791192,84.388003

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [32]:
# The the five worst-performing schools. GJM
top_performing_schools = per_school_summary.sort_values(["Overall Passing"], ascending=True)
top_performing_schools.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Per school passing math,Per school passing reading,Overall Passing
school_name,type,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,84.854020,80.557377,82.705699
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,84.716269,80.927263,82.821766
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,84.772063,81.122902,82.947482
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,84.965174,80.960199,82.962687
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,84.813298,81.148404,82.980851

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [40]:
ninth_grade_avg_math_score = school_data_complete[(school_data_complete["grade"]== "9th")].groupby(["school_name"]).mean()["math_score"]
tenth_grade_avg_math_score = school_data_complete[(school_data_complete["grade"]== "10th")].groupby(["school_name"]).mean()["math_score"]
eleventh_grade_avg_math_score = school_data_complete[(school_data_complete["grade"]== "11th")].groupby(["school_name"]).mean()["math_score"]
twelveth_grade_avg_math_score = school_data_complete[(school_data_complete["grade"]== "12th")].groupby(["school_name"]).mean()["math_score"]

avg_math_score_by_grade = pd.DataFrame({
    "ninth_grade_avg_math_score": ninth_grade_avg_math_score,
    "tenth_grade_avg_math_score": tenth_grade_avg_math_score,
    "eleventh_grade_avg_math_score": eleventh_grade_avg_math_score,
    "twelveth_grade_avg_math_score": twelveth_grade_avg_math_score,
})
avg_math_score_by_grade

,ninth_grade_avg_math_score,tenth_grade_avg_math_score,eleventh_grade_avg_math_score,twelveth_grade_avg_math_score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [42]:
ninth_grade_avg_reading_score = school_data_complete[(school_data_complete["grade"]== "9th")].groupby(["school_name"]).mean()["reading_score"]
tenth_grade_avg_reading_score = school_data_complete[(school_data_complete["grade"]== "10th")].groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_avg_reading_score = school_data_complete[(school_data_complete["grade"]== "11th")].groupby(["school_name"]).mean()["reading_score"]
twelveth_grade_avg_reading_score = school_data_complete[(school_data_complete["grade"]== "12th")].groupby(["school_name"]).mean()["reading_score"]

avg_reading_score_by_grade = pd.DataFrame({
    "ninth_grade_avg_reading_score": ninth_grade_avg_math_score,
    "tenth_grade_avg_reading_score": tenth_grade_avg_reading_score,
    "eleventh_grade_avg_reading_score": eleventh_grade_avg_reading_score,
    "twelveth_grade_avg_reading_score": twelveth_grade_avg_reading_score,
})
avg_reading_score_by_grade.head()

,ninth_grade_avg_reading_score,tenth_grade_avg_reading_score,eleventh_grade_avg_reading_score,twelveth_grade_avg_reading_score
school_name,,,,
Bailey High School,77.083676,80.907183,80.945643,80.912451
Cabrera High School,83.094697,84.253219,83.788382,84.287958
Figueroa High School,76.403037,81.408912,80.640339,81.384863
Ford High School,77.361345,81.262712,80.403642,80.662338
Griffin High School,82.044010,83.706897,84.288089,84.013699

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [14]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [15]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.